.game-container {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    text-align: center;
}
.control {
    text-align: initial;
    height: 70px;
}

.button {
    font-weight: bold;
    color: #000;
    background: #fff;
    text-decoration: none;
    padding: 8px 60px;
    cursor: pointer;
    display: inline-block;
    color: rgba(0,0,0,.54);
    font-size: 22px;
    text-align: right;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,.16);
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 5px;
}

.button:hover {
    background: #eee;
}

button:focus {outline:0;}

/* Settings grid layout for container and position
auto template for center alignment
*/
.board {
    display: grid;
    padding: 10px 0;
    grid-template-columns: calc(100% /3) calc(100% /3) calc(100% /3);
    grid-template-rows: calc(100% /3) calc(100% /3) calc(100% /3);
    width: 350px;
    height: 350px;
}
/* Settings for individual cells in grid
user-select for disable text highlight
*/
.cell {
    border: 2px solid black;
    cursor: pointer;
    font-size: 85px;
    padding: 5px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.restart {
    font-size: 25px;
    color: #00b300;
    background: #fff;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;

}

.restart:hover {background: #eee;}


/* Remove outline border to look like an tic tac toe board
*/
#c00, #c01, #c02 {
    border-top: none;
}
#c00, #c10, #c20 {
    border-left: none;
}
#c02, #c12, #c22 {
    border-right: none;
}
#c20, #c21, #c22 {
    border-bottom: none;
}
